.search-box{
    width: 400px;
    display: flex;
    background-color: rgb(255,256,257);
    border-radius: 45px;
}

.search-form{
    display: flex;
    justify-content: flex-end;
}

.my-button{
    display: flex;
    border-radius: 25px;
    justify-content: flex-end;
    height: 30px;
    background: rgb(222,222,222);
}

.abc{
    display: flex;
    flex-direction: row;
}